.App {
  font-family: sans-serif;
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: calc(100vh - 100px);
}

/* Чтобы при перетаскивании не было видно всю картинку */
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.puzzle__container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  gap: 1px;
  padding: 0;
  list-style: none;
}

.puzzle__box {
  max-height: 70px;
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  overflow: hidden;
  list-style: none;
  padding-left: 0;
}

.peppa-img {
  width: 100%;
  /* object-fit: none; */
}

button {
  margin-top: 50px;
  padding: 20px;
}

.confetti {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(50%, -50%);
}
