.App {
  display: grid;
  grid-template-rows: min-content min-content auto;
  min-height: 100vh;
  justify-content: center;
  font-family: sans-serif;
  color: lightslategray;
}

.App__title {
  margin: 10px 0 16px 0;
  padding: 18px 0;
  height: 70px;
}

.App__footer {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  align-self: end;
}

.App__link {
  text-decoration: none;
  color: lightseagreen;
}

@media only screen and (max-width: 600px) {
  .App {
    grid-template-rows: min-content min-content min-content;
    min-height: min-content;
  }

  .App__footer {
    margin-top: 40px;
  }
}
